
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include FontAwesome for social icons (if you're using FontAwesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Include Bootstrap CSS for responsive design (optional, if you're using Bootstrap) -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <!-- Add your CSS files here -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>

{% include 'header_html.html' %}

<main>
    {% block content %}{% endblock %}
</main>

{% include 'footer_html.html' %}

<!-- Add your JavaScript files here -->
<!-- Include Bootstrap JS for responsive design (optional, if you're using Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="{% static 'js/enhanced_script_v2.js' %}"></script>
</body>
</html>
