
<footer>
    <div class="footer-content">
        <div class="contact-info">
            <p>Email: dmbogning15@gmail.com</p>
            <p>Phone: +16472506282</p>
        </div>
        <div class="social-media-links">
            <!-- Use icons from a library like FontAwesome -->
            <a href="https://www.linkedin.com/in/maxime-descartes-mbogning-a65a2b83/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/descartesmbogning" target="_blank"><i class="fab fa-github-square"></i></a>
            <a href="your-twitter-url" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a href="https://scholar.google.com/citations?user=j32BUrIAAAAJ&hl=fr" target="_blank"><i class="ai ai-google-scholar-square"></i></a>
        </div>
        <div class="footer-links">
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
            <a href="{% url 'terms_of_service' %}">Terms of Service</a>
        </div>
        <div class="copyright">
            <p>&copy; {{ current_year }} Mbogning Fonkou Maxime Descartes. All rights reserved.</p>
        </div>
    </div>
</footer>
